[submodule "extra/loss_landscape"]
	path = extra/loss_landscape
	url = https://github.com/tomgoldstein/loss-landscape
[submodule "extra/sam"]
	path = extra/sam
	url = https://github.com/dnsch/sam.git
